<h2>
    <%= l(:label_schedules_fill) %>
</h2>

<p><%= l(:label_schedules_fill_description) %></p>
<p><%= l(:label_shecdules_fill_helper) %></p>

<%= form_tag({:action=> "fill"}) do %>
    <%= hidden_field_tag 'project_id', @project.id %>
    <div class="box">

        <fieldset id="date-range"><legend><%= l(:label_date_range) %></legend>
            <%= hidden_field_tag  'period', @period %>
            <%= select_day(@date.day, :prefix => "day", :discard_type => true) %>
            <%= select_month(@date.month, :prefix => "month", :discard_type => true) %>
            <%= select_year(@date.year, :prefix => "year", :discard_type => true) %>
            &nbsp;
            <label><%= l(:field_filling_for) %></label>
            <input id="filling_for_weeks" name="filling_for_weeks" type="number" placeholder="0" />
            <label><%= l(:label_week).downcase + '(s)' %></label>
        </fieldset>

        <% @weeks = @weeks.slice(0,1) %>
        <% @weeks.each_with_index do |week, index| %>

            <table class="cal schedule schedule_entry_grid schedule_fill_grid <%= 'notlast' unless index == @weeks.length - 1 %>">
                <thead>
                    <tr>
                        <td rowspan="2"></td>
                        <th colspan="<%= week.count %>"><%= l(:label_schedules_fill_week_header) %></th>
                        <th class="fill" rowspan="2"><%= l(:label_schedules_fill_total_header) %></th>
                    </tr>
                    <tr>
                        <% week.each do |day| %>
                            <th><%= day_name(day.wday) %></th>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                    <% @defaults.each do |user_id, default| %>
                        <% if User.current.allowed_to?(:edit_all_schedules, @project) || (User.current.id == user_id && User.current.allowed_to?(:edit_own_schedules, @project)) || User.current.admin? %>
                            <tr>
                                <th><%= @indexed_users[user_id] %></th>
                                <% week.each do |day| %>
                                    <% hours = default.weekday_hours[day.wday] || 0 %>
                                    <td>
                                        <% if hours > 0 %>
                                            <%= text_field "fill_entry", "hours", :size => 3, :value => hours, :name => "fill_entry[#{user_id}][#{day.wday}]" %>
                                        <% else %>
                                            <input type="text" size="3" disabled="disabled" value="<%= hours %>" />
                                        <% end %>
                                        <input type="hidden" value="<%= hours %>" />
                                    </td>
                                <% end %>
                                <td class="fill"><%= text_field "fill_total", "hours", :size => 3, :value => "", :name => "fill_total[#{user_id}]" %></td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>

        <% end %>

        <%= javascript_include_tag 'schedules_edit', :plugin => 'redmine_schedules' %>
        <%= javascript_include_tag 'schedules_fill', :plugin => 'redmine_schedules' %>

        <%= submit_tag l(:button_schedules_fill) %>
    </div>
<% end %>

<% html_title(l(:label_schedules_fill)) -%>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'schedules', :plugin => 'redmine_schedules' %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>
